<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="{% url "search" %}">
        <input type="search" placeholder="search" name="q">
        <button>Search</button>
    </form>
    <h1>search page</h1>

    <ul>
        {% for contact in contacts %}
        <li>
            {{contact.id}}
            {{contact.name}}
            {{contact.phone}}
            <button><a href="{% url "view" contact.id %}">view</a></button>
            <button><a href="{% url "del" contact.id %}">X</a></button>
        </li>
        {% endfor %}
    </ul>
</body>
</html>